.inputField{
	width: 250px;
	line-height:30px;
	font-size: 20px;
	margin-right: 5px;
	box-sizing:content-box;
	border-radius: 1px;
	outline:none;
	border:1px solid black;
}

.buttonStyle{
	line-height:30px;
	box-sizing:content-box
}

.formStyle{
	display: flex;
	justify-content: center;
	align-items: center;
	white-space:nowrap;
	margin-top: 10px;
}